1. Write a program to accept percentage from the user and display the grade according to the following 
criteria: 
Marks 
Grade 
>90 
A 
>80 and <=90 
B 
>=60 and <=80 
C 
below 60

In [5]:
marks = float(input("enter marks"))
if marks>90:
    print('Grade A')
elif marks>80 and marks<=90:
    print('Grade B')
elif marks>=60 and marks<=80:
    print('Grade C')
else:
    print('Grade D')

enter marks 75.40

Grade C

2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the 
following criteria: 
Tax             Cost Price(in Rs) 
15%                >100000 
10%                >50000 and <= 100000
5%                 <= 50000

In [7]:
Bike_cost_price = float(input('enter the cost'))
if Bike_cost_price>100000:
    print('15% TAX')
elif Bike_cost_price>50000 and Bike_cost_price<=100000:
    print('10% TAX')
else:
    print('5% TAX')

enter the cost 100001

15% TAX

3. Accept any city from the user and display monuments of that city. 
City                Monument
Delhi               Red Fort      
Agra                Taj Mahal
Jaipur              Jal Mahal

In [9]:
city = str(input('enter the city'))
if city=='Delhi':
    print('Red Fort')
elif city=='Agra':
    print('Taj Mahal')
elif city=='Jaipur':
    print('Jal Mahal')
else:
    print('no data')

enter the city Jaipur

Jal Mahal

4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [14]:
number = int(input('enter number'))
count=0
while number>10:
    number = number/3
    count+=1
count

enter number 126

3

5. Why and When to Use while Loop in Python give a detailed description with example.

In Python, a while loop is a control flow statement that allows code to be executed repeatedly based on a certain condition. The loop will continue to execute the block of code as long as the condition is true. The moment the condition becomes false, the loop stops and the control passes to the next statement after the loop.

A while loop is useful when you want to repeat a block of code while a certain condition is true, but you don't know how many times the loop will need to be executed. For example, if you are waiting for a certain event to occur and you want your program to keep checking for the event until it happens, you could use a while loop.

Here's an example of a while loop that prints out all the numbers from 1 to 10:

In [15]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

6. Use nested while loop to print 3 different pattern.

In [17]:
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print("*", end="")
        col += 1
    print()
    row += 1

*
**
***
****
*****

In [18]:
row = 5
while row >= 1:
    col = 1
    while col <= row:
        print(row, end="")
        col += 1
    print()
    if row == 2:
        row -= 1
    else:
        row -= 2

55555
333
1

In [19]:
row = 1
while row <= 4:
    space = 3
    while space >= row:
        print(" ", end="")
        space -= 1
    col = 1
    while col <= (2 * row - 1):
        print(col, end="")
        col += 1
    print()
    row += 1

   1
  123
 12345
1234567

7. Reverse a while loop to display numbers from 10 to 1.

In [20]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1